html, body {  /* Disable scrolling */
    margin: 0;
    height: 100%;
    overflow: hidden
}

#ball {
  background-color: lightgray;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  visibility: visible;
}

#paddle {
  background-color: lightgray;

  position: absolute;
  transform: translate(-50%, -50%);
  visibility: visible;
  transition: left 0.075s linear;
}