---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3 style="margin-bottom: 35px;">
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>

          {%- if post.tags -%}
            <div style="margin-top: 5px; margin-bottom: 15px;">
              {% include custom/tags.html tags=post.tags %}
            </div>
          {%- endif -%}

          {%- if post.description -%}
            <div>
              {{ post.description }}
            </div>
          {%- endif -%}
        </h3>

        {% include custom/hline.html %}

        <!-- {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%} -->
      </li>
      {%- endfor -%}
    </ul>

    <!-- Removed unnecessary rss subscription message -->
    <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
  {%- endif -%}

</div>
