---
layout: default
---

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>

    <p class="post-meta">
      <!-- Post's description -->
      {%- if page.description -%}
        <p class="post-description" itemprop="description">{{ page.description }}</p>
      {%- endif -%}

      <div style="width: 100%; display: table; table-layout: auto;">
        <div style="display: table-row">
            <div style=" display: table-cell;">
              {%- if page.tags -%}
                <div style="font-size: 14px; line-height: 2.2">
                  <b>Tags:</b> &nbsp;
                  {% include custom/tags.html tags=page.tags with_link=true %}
                </div>
              {%- endif -%}
            </div>
            <div style="display: table-cell; text-align: right; white-space: nowrap; vertical-align: bottom;">
              <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished" style="font-size: 14px; font-weight: bold;">
                {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                {{ page.date | date: date_format }}
              </time>
            </div>
        </div>
      </div>
      <!-- {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%} -->
    </p>

    <!-- Grey line -->
    <hr style="border: none; background-color: var(--theme-color); height: 3px; margin-top: -3px; margin-bottom: 35px;">
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>

  <!-- Open all links in post in new tab -->
  <script>
    document.querySelectorAll(".post-content a").forEach((aTag, index, list) => {aTag.target = "_blank";});
  </script>
</article>
