---
---

#tag-list {
  width: 80%;
  margin: auto;
  text-align: center;
}

.clickable-tag {
  cursor: pointer;
  display: inline-block;
  margin-bottom: 0.5em;
}

.clickable-tag.selected-tag span {
  background-color: color-mix(in srgb, var(--theme-color), black 20%) !important;
  color: white !important;
  transition: background-color 500ms;
}

#tag-posts {
  margin-top: 1.5em;
}